$default-offset: 1rem;
$small-offset: 0.25rem;

$main-logo-size: 16rem;



$darkest-color: rgb(0, 0, 0);
$darker-color: #1C1C1C;
$dark-color: #2E2E2E;

$lighter-color: rgb(249, 248, 248);
$lightest-color: rgb(254, 254, 253);

$good-color: rgba(139, 163, 112, 1);
$normal-color: rgba(192, 190, 111, 1);
$bad-color: rgba(175, 61, 61, 1);

$modal-color: rgba(0, 0, 0, 0.5);


$translucent-box-shadow: rgb(0 0 0 / 15%) 0 0 10px;


$border-radius: 0.25 * $default-offset;



$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;
$small-font-size: 0.875rem;
$smaller-font-size: 0.75rem;
$extra-small-font-size: 0.375rem;




$svg-size: 1.825rem;
$svg-padding: 0.35rem;
$svg-radius: 0.5rem;