<form [formGroup]="registrationForm" novalidate >
    <input #name formControlName="name" placeholder="Username">
    <input #email formControlName="email" type="email" placeholder="Email">
    <input #password formControlName="password" type="password" placeholder="Password">
    <input formControlName="confirmPassword" type="password" placeholder="Repeat Password">
    <button (click)="registration(name.value, email.value, password.value)">Sign up</button>
</form>
<hr>
<a routerLink="../login">Already have an account? Log in.</a>